<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emojis</key>
		<array>
			<string>🐥</string>
            <string>💩</string>
		</array>
		<key>prefix</key>
		<string>Lolled at</string>
	</dict>
	<dict>
		<key>emojis</key>
		<array>
			<string>🍎</string>
            <string>🍪</string>
            <string>🍟</string>
		</array>
		<key>prefix</key>
		<string>Ate</string>
	</dict>
    <dict>
        <key>emojis</key>
        <array>
            <string>😎</string>
            <string>👮</string>
            <string>💃</string>
            <string>👫</string>
            <string>👼</string>
            <string>👳</string>
            <string>👶</string>
            <string>👻</string>
            <string>👹</string>
            <string>💀</string>
        </array>
        <key>prefix</key>
        <string>Hung out with</string>
    </dict>
</array>
</plist>
