<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emojis</key>
		<array/>
		<key>prefix</key>
		<string>Saw</string>
	</dict>
	<dict>
		<key>emojis</key>
		<array/>
		<key>prefix</key>
		<string>Ate</string>
	</dict>
	<dict>
		<key>emojis</key>
		<array/>
		<key>prefix</key>
		<string>Visited</string>
	</dict>
    <dict>
        <key>emojis</key>
        <array/>
        <key>prefix</key>
        <string>Made</string>
    </dict>
    <dict>
        <key>emojis</key>
        <array/>
        <key>prefix</key>
        <string>Talked to</string>
    </dict>
</array>
</plist>
